# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Eclipse specific files and directories
bin
test-output
.classpath
.project
# Some settings files are generated automatically, those can be ignored.
.settings/**
# But we want the project setting to format on save
!.settings/org.eclipse.jdt.ui.prefs